#header {
  padding-left: 80px !important;
  -webkit-app-region: drag;
}

.GDAMOPFCN4B {
  left: 0;
  right: 0;
  bottom: 0;
  top: 25px;
  height: 66px;
  position: relative;
}

.GDAMOPFCE5B {
  margin: 20px 0px !important;
}

.FocusClipperButton-button {
  visibility: hidden !important;
}
