:root{
  --app-sidebar: rgba(29, 29, 29, 1);
  --note-list: rgba(30, 30, 30, 1);
  --note-editor: rgba(33, 33, 33, 1);
}

html.dark-mode html {
  overflow: hidden;
}

html.dark-mode body {
  -webkit-app-region: drag;
}

html.dark-mode .GDAMOPFCN4B {
  left: 0;
  right: 0;
  bottom: 0;
  top: 25px;
  height: 66px;
  position: relative;
}

html.dark-mode .GDAMOPFCE5B {
  margin: 20px 0px !important;
}

html.dark-mode .FocusClipperButton-button {
  visibility: hidden !important;
}

html.dark-mode .en-note {
  color: #F0F0F0 !important;
}

html.dark-mode ::-webkit-scrollbar { /* Notes list scrollbar */
  width: 6px !important;
}

html.dark-mode ::-webkit-scrollbar-track { /* Notes list scrollbar track */
  background: var(--note-list) !important;
  border-radius: 0px !important;
}

html.dark-mode ::-webkit-scrollbar-thumb { /* Notes list scrollbar thumb */
  border-radius: 0px;
  background: #2dbe60;
}

html.dark-mode .GDAMOPFCKYB { /* Notes Title minor tweak */
  padding-bottom: 1px !important;
}

html.dark-mode .GDAMOPFCBR.GDAMOPFCCR,
html.dark-mode .GDAMOPFCDR {
  opacity: 1 !important;
}

html.dark-mode .GDAMOPFCG4B { /* App left sidebar */
  background-color: var(--app-sidebar) !important;
}

html.dark-mode .GDAMOPFCJYB { /* Notes list head */
  background-color: var(--note-list) !important;
}

html.dark-mode .focus-NotesView-NotesView * { /* Notes list body */
  background-color: var(--note-list) !important;
}

html.dark-mode .GDAMOPFCKNB { /* Note editor body */
  background-color: var(--note-editor) !important;
}

html.dark-mode .GDAMOPFCIKB { /* Note editor toolbar */
  background-color: var(--note-editor) !important;
}

html.dark-mode .GDAMOPFCJ1 { /* Note editor toolbar options */
  background-color: var(--note-editor) !important;
}

html.dark-mode .GDAMOPFCOF.GDAMOPFCAG { /* Colors background */
  background-color: var(--note-editor) !important;
}

html.dark-mode .GDAMOPFCHK,
html.dark-mode .GDAMOPFCOQ.GDAMOPFCAR { /* Submenus background */
  background-color: var(--note-editor) !important;
}

html.dark-mode .GDAMOPFCNHC { /* Dialogs background */
  background-color: var(--note-editor) !important;
}

html.dark-mode .GDAMOPFCHLB { /* Note editor head */
  background-color: var(--note-editor) !important;
}
