html.dark-mode ::-webkit-scrollbar-track { /* Notes list scrollbar track */
  background: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CIEB { /* Metting note background */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CNYB { /* Note list header */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CBR.GJDCG5CCR, html.dark-mode .GJDCG5CDR {
  opacity: 1 !important;
}
html.dark-mode .Dropdown-menu {
  background: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CLGB, html.dark-mode .GDAMOPFCAHB, html.dark-mode .GDAMOPFCPGB, html.dark-mode .GDAMOPFCHYC.GDAMOPFCLD { /* Chat windows */
  background: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CMKC { /* Reminder modal */
  background: var(--dark-grey) !important;
}
html.dark-mode .GDAMOPFCHEB {
  background: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CK-B, html.dark-mode .GDAMOPFCEQB, html.dark-mode .GDAMOPFCDAC.GDAMOPFCL5B { /* Search modal */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CA0B {
  border-bottom: 1px solid var(--white-five) !important;
}
html.dark-mode .GJDCG5CGWB, html.dark-mode .GDAMOPFCIXB, html.dark-mode .GJDCG5CKXB.GJDCG5CHXB, html.dark-mode .GDAMOPFCFTB { /* Notebooks modal */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CBXB.GJDCG5CNXB { /* Selected notebook in notebooks modal */
  background-color: #2dbe60 !important;
}
html.dark-mode .GJDCG5CHTB { /* Select notebook at toolbar option */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CJJ, html.dark-mode .focus-drawer-Filter-input { /* Search notebook/tags input text */
  color: #e1e1e1 !important;
}
html.dark-mode div#gwt-debug-GlassModalDialog-container { /* Glass modal background */
  background-color: var(--dark-grey) !important;
}
html.dark-mode div#gwt-debug-GlassModalDialog-glass { /* Glass modal bottom line */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GDAMOPFCPE { /* Notebook info */
  color: #e1e1e1 !important;
}
html.dark-mode .GDAMOPFCN-B .GDAMOPFCC1B, html.dark-mode .GDAMOPFCDQB { /* Saved search */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CJ3B, html.dark-mode .GJDCG5CH3B, html.dark-mode .GJDCG5CP5B, html.dark-mode .GJDCG5CFHB { /* Shortcuts modal */
  background-color: var(--dark-grey) !important;
  border-right: 3px solid var(--white-five) !important;
}
html.dark-mode .GJDCG5CP2 { /* Settings menu */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CC5B { /* App left sidebar */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CC5B {
  background: var(--dark-grey) !important;
  background-color: var(--dark-grey) !important;
  border-right: 1px solid var(--white-five) !important;
}
html.dark-mode .GDAMOPFCJYB { /* Notes list head */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CAQB { /* Notes list left border */
  background-color: var(--dark-grey) !important;
  border-left: 1px solid var(--white-five) !important;
}
html.dark-mode .GDAMOPFCA5B { /* Notes list left border */
  border-left: 1px solid var(--white-five) !important;
  border-right: 1px solid var(--white-five) !important;
  background: var(--dark-grey) !important;
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CP3B { /* Profile top border */
  border-top: 1px solid var(--white-five) !important;
}
html.dark-mode .focus-NotesView-Note.focus-NotesView-Note-selected .focus-NotesView-Note-selectOverlay { /* Selected note bordered box */
  border: 3px solid var(--white-five) !important;
}
html.dark-mode .focus-NotesView-RemindersList { /* Reminders list borders */
  border-top: 2px solid var(--white-five) !important;
  border-bottom: 3px solid var(--white-five) !important;
}
html.dark-mode .focus-NotesView-RemindersList { /* Reminders background */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .focus-NotesView-NotebookReminders-DropAreaContainer { /* Notebook reminder background */
  background: var(--dark-grey) !important;
}
html.dark-mode .focus-NotesView-Subheader { /* Subheader border */
  border-bottom: 1px solid var(--white-five) !important;
}
html.dark-mode .GJDCG5CJLB {
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CJKB { /* Toolbar bottom border */
  border-bottom: 1px solid var(--white-five) !important;
}
html.dark-mode .GDAMOPFCILB { /* Note attributes background */
  background: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CP0, html.dark-mode .GJDCG5CLKB { /* Toolbar separators */
  border-left: 1px solid var(--white-five) !important;
}
html.dark-mode .focus-NotesView-Note .focus-NotesView-Note-snippetDivider { /* Notes divider color */
  border-top: 1px solid var(--white-five) !important;
}
html.dark-mode .GJDCG5CP3B { /* Profile background */
  background-color: var(--dark-grey) !important;
  border-top: 1px solid var(--white-five) !important;
}
html.dark-mode .GDAMOPFCPYB { /* Note list transition background */
  background-color: var(--dark-grey) !important;
  border-top: 1px solid var(--white-five) !important;
}
html.dark-mode .GDAMOPFCMYB { /* Note list header */
  background-color: var(--dark-grey) !important;
  margin-bottom:  -6px !important;
}
html.dark-mode div#gwt-debug-FocusView-root { /* Sidebar transition background */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .focus-NotesView-NotesView { /* Notes list body */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CMNB, html.dark-mode .GDAMOPFCOPB { /* Note editor body */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CKKB { /* Note editor toolbar */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CJ1 { /* Note editor toolbar options */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CONB, html.dark-mode .GJDCG5CFQB { /* Note editor background */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5COF { /* Colors background */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CHK, html.dark-mode .GJDCG5CGK.GJDCG5CAK, html.dark-mode .GJDCG5COQ.GJDCG5CAR { /* Submenus background */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GDAMOPFCNHC { /* Dialogs background */
  background-color: var(--dark-grey) !important;
}
html.dark-mode .GJDCG5CFLB { /* Note editor head */
  background-color: var(--dark-grey) !important;
}
html.dark-mode div#imggal-glass { /* Image gallery background*/
  background-color: var(--dark-grey) !important;
}
html.dark-mode #imggal-top .close-icon { /* Image gallery exit button */
  border-radius: 0% !important; /* Makes the button square */
  background-color: var(--dark-grey) !important;
}
