html.vibrant-dark-mode body {
  background: transparent !important;
}

html.vibrant-dark-mode ::-webkit-scrollbar-track { /* Notes list scrollbar track */
  background: var(--transparent-white) !important;
}

html.vibrant-dark-mode .GDAMOPFCIEB { /* Metting note background */
  background-color: var(--vibrant-black) !important;
}

html.vibrant-dark-mode .GDAMOPFCLYB { /* Note list header */
  background-color: var(--transparent-white) !important;
}

html.vibrant-dark-mode .GDAMOPFCKYB { /* Notes Title minor tweak */
  padding-bottom: 1px !important;
}

html.vibrant-dark-mode .GDAMOPFCBR.GDAMOPFCCR,
html.vibrant-dark-mode .GDAMOPFCDR {
  opacity: 1 !important;
}

html.vibrant-dark-mode .Dropdown-menu {
  background: var(--vibrant-black) !important;
}

html.vibrant-dark-mode .GDAMOPFCEKB, /* Middle part */
html.vibrant-dark-mode .GDAMOPFCAHB, /* Bottom part */
html.vibrant-dark-mode .GDAMOPFCPGB, /* Top part */
html.vibrant-dark-mode .GDAMOPFCHYC.GDAMOPFCLD { /* Chat windows */
  background: var(--vibrant-black) !important;
}

html.vibrant-dark-mode .GDAMOPFCLKC { /* Reminder modal */
  background: var(--vibrant-black) !important;
}

html.vibrant-dark-mode .GDAMOPFCHEB {
  background: var(--transparent-white) !important;
}

html.vibrant-dark-mode .GDAMOPFCJ-B,
html.vibrant-dark-mode .GDAMOPFCEQB,
html.vibrant-dark-mode .GDAMOPFCDAC.GDAMOPFCL5B { /* Search modal */
  background-color: var(--transparent-white) !important;
}

html.vibrant-dark-mode .GDAMOPFCP-B {
  border-bottom: 1px solid var(--black-five) !important;
}

html.vibrant-dark-mode .GDAMOPFCEWB,
html.vibrant-dark-mode .GDAMOPFCIXB,
html.vibrant-dark-mode .GDAMOPFCN5B,
html.vibrant-dark-mode .GDAMOPFCFTB { /* Notebooks modal */
  background-color: var(--transparent-white) !important;
}

html.vibrant-dark-mode div#gwt-debug-NotebookHeader-name, html.vibrant-dark-mode .GDAMOPFCHBC { /* Notebook title color */
  color: #61e990 !important;
}

html.vibrant-dark-mode div#gwt-debug-trashHeaderContainer, html.vibrant-dark-mode div#gwt-debug-NotebookHeader-container { /* Notebook header background */
  background-color: var(--transparent-white) !important;
}

html.vibrant-dark-mode .GDAMOPFCAXB.GDAMOPFCMXB { /* Selected notebook in notebooks modal */
  background-color: #2dbe60 !important;
}

html.vibrant-dark-mode .GDAMOPFCGTB { /* Select notebook at toolbar option */
  background-color: var(--vibrant-black) !important;
}

html.vibrant-dark-mode .GDAMOPFCJJ,
html.vibrant-dark-mode .focus-drawer-Filter-input { /* Search notebook/tags input text */
  color: #e1e1e1 !important;
}

html.vibrant-dark-mode div#gwt-debug-GlassModalDialog-container { /* Glass modal background */
  background-color: var(--vibrant-black) !important;
}

html.vibrant-dark-mode div#gwt-debug-GlassModalDialog-glass { /* Glass modal bottom line */
  background-color: var(--vibrant-black) !important;
}

html.vibrant-dark-mode .GDAMOPFCPE { /* Notebook info */
  color: #e1e1e1 !important;
}

html.vibrant-dark-mode .GDAMOPFCN-B .GDAMOPFCC1B,
html.vibrant-dark-mode .GDAMOPFCDQB { /* Saved search */
  background-color: var(--transparent-white) !important;
}

html.vibrant-dark-mode .GDAMOPFCFHB { /* Shortcuts modal */
  background-color: var(--vibrant-black) !important;
}

html.vibrant-dark-mode .GDAMOPFCO5B { /* Shortcuts modal shadow */
  background-color: var(--transparent-white) !important;
}

html.vibrant-dark-mode .GDAMOPFCP2 { /* Settings menu */
  background-color: var(--vibrant-black) !important;
}

html.vibrant-dark-mode .GDAMOPFCH4B { /* App left sidebar */
  background-color: var(--vibrant-black) !important;
}

html.vibrant-dark-mode .GDAMOPFCB5B { /* App left sidebar color switch on transition */
  background: var(--vibrant-black) !important;
  background-color: var(--vibrant-black) !important;
  border-right: 1px solid var(--black-five) !important;
}

html.vibrant-dark-mode .GDAMOPFCJYB { /* Notes list head */
  background-color: var(--transparent-white) !important;
}

html.vibrant-dark-mode .GDAMOPFCPPB { /* Notes list left border */
  background-color: var(--transparent-white) !important;
  border-left: 1px solid var(--black-five) !important;
}

html.vibrant-dark-mode .GDAMOPFCA5B { /* Notes list left border */
  border-left: 1px solid var(--black-five) !important;
  border-right: 1px solid var(--black-five) !important;
  background: var(--transparent-white) !important;
  background-color: var(--transparent-white) !important;
}

html.vibrant-dark-mode .GDAMOPFCN3B { /* Profile top border */
  border-top: 1px solid var(--black-five) !important;
}

html.vibrant-dark-mode .focus-NotesView-Note.focus-NotesView-Note-selected .focus-NotesView-Note-selectOverlay { /* Selected note bordered box */
  border: 3px solid var(--black-five) !important;
}

html.vibrant-dark-mode .focus-NotesView-RemindersList { /* Reminders list borders */
  border-top: 2px solid var(--black-five) !important;
  border-bottom: 3px solid var(--black-five) !important;
}

html.vibrant-dark-mode .focus-NotesView-RemindersList { /* Reminders background */
  background-color: var(--transparent-white) !important;
}

html.vibrant-dark-mode .focus-NotesView-NotebookReminders-DropAreaContainer { /* Notebook reminder background */
  background: var(--transparent-white) !important;
}

html.vibrant-dark-mode .focus-NotesView-Subheader { /* Subheader border */
  border-bottom: 1px solid var(--black-five) !important;
}

html.vibrant-dark-mode .GDAMOPFCJKB {
  background-color: var(--transparent-white) !important;
}

html.vibrant-dark-mode .GDAMOPFCIKB { /* Toolbar bottom border */
  border-bottom: 1px solid var(--black-five) !important;
}

html.vibrant-dark-mode .GDAMOPFCILB { /* Note attributes background */
  background: var(--transparent-white) !important;
}

html.vibrant-dark-mode .GDAMOPFCP0 { /* Toolbar separators */
  border-left: 1px solid var(--black-five) !important;
}

html.vibrant-dark-mode .focus-NotesView-Note .focus-NotesView-Note-snippetDivider { /* Notes divider color */
  border-top: 1px solid var(--black-five) !important;
}

html.vibrant-dark-mode .GDAMOPFCO3B { /* Profile background */
  background-color: var(--vibrant-black) !important;
  border-top: 1px solid var(--black-five) !important;
}

html.vibrant-dark-mode .GDAMOPFCPYB { /* Note list transition background */
  background-color: var(--transparent-white) !important;
  border-top: 1px solid var(--black-five) !important;
}

html.vibrant-dark-mode .GDAMOPFCMYB { /* Note list header */
  background-color: var(--transparent-white) !important;
  margin-bottom:  -6px !important;
}

html.vibrant-dark-mode div#gwt-debug-FocusView-root { /* Sidebar transition background */
  background-color: var(--transparent-white) !important;
}

html.vibrant-dark-mode .focus-NotesView-NotesView { /* Notes list body */
  background-color: var(--transparent-white) !important;
}

html.vibrant-dark-mode .GDAMOPFCKNB,
html.vibrant-dark-mode .GDAMOPFCOPB { /* Note editor body */
  background-color: var(--transparent-white) !important;
}

html.vibrant-dark-mode .GDAMOPFCELB { /* Note editor toolbar */
  background-color: var(--transparent-white) !important;
}

html.vibrant-dark-mode .GDAMOPFCJ1 { /* Note editor toolbar options */
  background-color: var(--transparent-white) !important;
}

html.vibrant-dark-mode .GDAMOPFCLNB { /* Note editor background */
  background-color: var(--transparent-white) !important;
}

html.vibrant-dark-mode .GDAMOPFCOF.GDAMOPFCAG { /* Colors background */
  background-color: var(--vibrant-black) !important;
}

html.vibrant-dark-mode .GDAMOPFCHK,
html.vibrant-dark-mode .GDAMOPFCOQ.GDAMOPFCAR { /* Submenus background */
  background-color: var(--vibrant-black) !important;
}

html.vibrant-dark-mode .GDAMOPFCNHC { /* Dialogs background */
  background-color: var(--transparent-white) !important;
}

html.vibrant-dark-mode .GDAMOPFCHLB { /* Note editor head */
  background-color: var(--transparent-white) !important;
}

html.vibrant-dark-mode div#imggal-glass { /* Image gallery background*/
  background-color: var(--vibrant-black) !important;
}

html.vibrant-dark-mode #imggal-top .close-icon { /* Image gallery exit button */
  border-radius: 0% !important; /* Makes the button square */
  background-color: var(--vibrant-black) !important;
}
