html.sepia-mode ::-webkit-scrollbar-track { /* Notes list scrollbar track */
  background: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CIEB { /* Metting note background */
  background-color: var(--sepia) !important;
}
html.sepia-mode .GJDCG5COYB { /* Note list header */
  background-color: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CBR.GJDCG5CCR, html.sepia-mode .GJDCG5CDR {
  opacity: 1 !important;
}
html.sepia-mode .Dropdown-menu {
  background: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CLGB, html.sepia-mode .GDAMOPFCAHB, html.sepia-mode .GDAMOPFCPGB, html.sepia-mode .GDAMOPFCHYC.GDAMOPFCLD { /* Chat windows */
  background: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CJKC { /* Reminder modal */
  background: var(--sepia) !important;
}
html.sepia-mode .GDAMOPFCHEB {
  background: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CJ-B, html.sepia-mode .GDAMOPFCEQB, html.sepia-mode .GDAMOPFCDAC.GDAMOPFCM5B, html.sepia-mode .GJDCG5CO-B .GJDCG5CD1B { /* Search modal */
  background-color: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CO-B, html.sepia-mode .GJDCG5CDXB {
  border-bottom: 1px solid var(--black-five) !important;
}
html.sepia-mode .GJDCG5CGWB, html.sepia-mode .GDAMOPFCIXB, html.sepia-mode .GJDCG5CKXB.GJDCG5CHXB, html.sepia-mode .GDAMOPFCFTB { /* Notebooks modal */
  background-color: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CCXB.GJDCG5COXB { /* Selected notebook in notebooks modal */
  background-color: #2dbe60 !important;
}
html.sepia-mode .GJDCG5CITB { /* Select notebook at toolbar option */
  background-color: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CJJ, html.sepia-mode .focus-drawer-Filter-input { /* Search notebook/tags input text */
  color: #e1e1e1 !important;
}
html.sepia-mode div#gwt-debug-GlassModalDialog-container { /* Glass modal background */
  background-color: var(--sepia) !important;
}
html.sepia-mode div#gwt-debug-GlassModalDialog-glass { /* Glass modal bottom line */
  background-color: var(--sepia) !important;
}
html.sepia-mode .GDAMOPFCPE { /* Notebook info */
  color: #e1e1e1 !important;
}
html.sepia-mode .GDAMOPFCN-B .GDAMOPFCC1B, html.sepia-mode .GDAMOPFCDQB { /* Saved search */
  background-color: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CJ3B, html.sepia-mode .GJDCG5CH3B, html.sepia-mode .GJDCG5CM5B, html.sepia-mode .GJDCG5CFHB { /* Shortcuts modal */
  background-color: var(--sepia) !important;
  border-right: 3px solid var(--black-five) !important;
}
html.sepia-mode .GJDCG5CP2 { /* Settings menu */
  background-color: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CB5B { /* App left sidebar */
  background-color: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CB5B {
  background: var(--sepia) !important;
  background-color: var(--sepia) !important;
  border-right: 1px solid var(--black-five) !important;
}
html.sepia-mode .GDAMOPFCJYB { /* Notes list head */
  background-color: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CBQB { /* Notes list left border */
  background-color: var(--sepia) !important;
  border-left: 1px solid var(--black-five) !important;
}
html.sepia-mode .GDAMOPFCA5B { /* Notes list left border */
  border-left: 1px solid var(--black-five) !important;
  border-right: 1px solid var(--black-five) !important;
  background: var(--sepia) !important;
  background-color: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CO3B { /* Profile top border */
  border-top: 1px solid var(--black-five) !important;
}
html.sepia-mode .focus-NotesView-Note.focus-NotesView-Note-selected .focus-NotesView-Note-selectOverlay { /* Selected note bordered box */
  border: 3px solid var(--black-five) !important;
}
html.sepia-mode .focus-NotesView-RemindersList { /* Reminders list borders */
  border-top: 2px solid var(--black-five) !important;
  border-bottom: 3px solid var(--black-five) !important;
}
html.sepia-mode .focus-NotesView-RemindersList { /* Reminders background */
  background-color: var(--sepia) !important;
}
html.sepia-mode .focus-NotesView-NotebookReminders-DropAreaContainer { /* Notebook reminder background */
  background: var(--sepia) !important;
}
html.sepia-mode .focus-NotesView-Subheader { /* Subheader border */
  border-bottom: 1px solid var(--black-five) !important;
}
html.sepia-mode .GJDCG5CKLB {
  background-color: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CJKB { /* Toolbar bottom border */
  border-bottom: 1px solid var(--black-five) !important;
}
html.sepia-mode .GDAMOPFCILB { /* Note attributes background */
  background: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CP0, html.sepia-mode .GJDCG5CLKB { /* Toolbar separators */
  border-left: 1px solid var(--black-five) !important;
}
html.sepia-mode .focus-NotesView-Note .focus-NotesView-Note-snippetDivider { /* Notes divider color */
  border-top: 1px solid var(--black-five) !important;
}
html.sepia-mode .GJDCG5CO3B { /* Profile background */
  background-color: var(--sepia) !important;
  border-top: 1px solid var(--black-five) !important;
}
html.sepia-mode .GDAMOPFCPYB { /* Note list transition background */
  background-color: var(--sepia) !important;
  border-top: 1px solid var(--black-five) !important;
}
html.sepia-mode .GDAMOPFCMYB { /* Note list header */
  background-color: var(--sepia) !important;
  margin-bottom:  -6px !important;
}
html.sepia-mode div#gwt-debug-FocusView-root { /* Sidebar transition background */
  background-color: var(--sepia) !important;
}
html.sepia-mode .focus-NotesView-NotesView { /* Notes list body */
  background-color: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CNNB, html.sepia-mode .GDAMOPFCOPB { /* Note editor body */
  background-color: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CKKB { /* Note editor toolbar */
  background-color: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CJ1 { /* Note editor toolbar options */
  background-color: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CONB, html.sepia-mode .GJDCG5CGQB { /* Note editor background */
  background-color: var(--sepia) !important;
}
html.sepia-mode .GJDCG5COF { /* Colors background */
  background-color: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CHK, html.sepia-mode .GJDCG5CGK.GJDCG5CAK, html.sepia-mode .GJDCG5COQ.GJDCG5CAR { /* Submenus background */
  background-color: var(--sepia) !important;
}
html.sepia-mode .GDAMOPFCNHC { /* Dialogs background */
  background-color: var(--sepia) !important;
}
html.sepia-mode .GJDCG5CFLB { /* Note editor head */
  background-color: var(--sepia) !important;
}
html.sepia-mode div#imggal-glass { /* Image gallery background*/
  background-color: var(--sepia) !important;
}
html.sepia-mode #imggal-top .close-icon { /* Image gallery exit button */
  border-radius: 0% !important; /* Makes the button square */
  background-color: var(--sepia) !important;
}
