html.vibrant-mode body {
  background: transparent !important;
}
html.vibrant-mode ::-webkit-scrollbar-track { /* Notes list scrollbar track */
  background: var(--transparent-white) !important;
}
html.vibrant-mode .GJDCG5CJEB { /* Metting note background */
  background-color: var(--vibrant-grey) !important;
}
html.vibrant-mode .GJDCG5CPYB, html.vibrant-mode div#gwt-debug-NotesHeader-title { /* Note list header */
  background-color: var(--transparent-white) !important;
}
html.vibrant-mode .GJDCG5CBR.GJDCG5CCR, html.vibrant-mode .GJDCG5CDR {
  opacity: 1 !important;
}
html.vibrant-mode div#gwt-debug-NotesHeaderView-root {
  background: var(--transparent-white) !important;
}
html.vibrant-mode div#gwt-debug-NoteAttributesView-root {
  background: var(--transparent-white) !important;
}
html.vibrant-mode .Dropdown-menu {
  background: var(--vibrant-grey) !important;
}
html.vibrant-mode .GJDCG5CMGB, html.vibrant-mode .GDAMOPFCAHB, html.vibrant-mode .GDAMOPFCPGB, html.vibrant-mode .GDAMOPFCHYC.GDAMOPFCLD { /* Chat windows */
  background: var(--vibrant-grey) !important;
}
html.vibrant-mode .GJDCG5CKKC { /* Reminder modal */
  background: var(--vibrant-grey) !important;
}
html.vibrant-mode .GDAMOPFCHEB {
  background: var(--transparent-white) !important;
}
html.vibrant-mode .GJDCG5CK-B, html.vibrant-mode .GJDCG5CE1B, html.vibrant-mode .GDAMOPFCEQB, html.vibrant-mode .GDAMOPFCDAC.GDAMOPFCM5B { /* Search modal */
  background-color: var(--transparent-white) !important;
}
html.vibrant-mode .GJDCG5CA0B {
  border-bottom: none;
}
html.vibrant-mode .GJDCG5CK-B, html.vibrant-mode .GJDCG5CDXB {
  border-bottom: 1px solid var(--black-five) !important;
}
html.vibrant-mode .GJDCG5CGWB, html.vibrant-mode .GDAMOPFCIXB, html.vibrant-mode .GJDCG5CKXB.GJDCG5CHXB, html.vibrant-mode .GDAMOPFCFTB, html.vibrant-mode .GJDCG5CK-B .GJDCG5CD1B { /* Notebooks modal */
  background-color: var(--vibrant-grey) !important;
}
html.vibrant-mode .GJDCG5CDXB.GJDCG5CPXB { /* Selected notebook in notebooks modal */
  background-color: #2DBE60 !important;
}
html.vibrant-mode .GJDCG5CJTB { /* Select notebook at toolbar option */
  background-color: var(--vibrant-grey) !important;
}
html.vibrant-mode .GJDCG5CJJ, html.vibrant-mode .focus-drawer-Filter-input { /* Search notebook/tags input text */
  color: #E1E1E1 !important;
}
html.vibrant-mode div#gwt-debug-GlassModalDialog-container { /* Glass modal background */
  background-color: var(--vibrant-grey) !important;
}
html.vibrant-mode div#gwt-debug-GlassModalDialog-glass { /* Glass modal bottom line */
  background-color: var(--vibrant-grey) !important;
}
html.vibrant-mode .GDAMOPFCPE { /* Notebook info */
  color: #E1E1E1 !important;
}
html.vibrant-mode .GDAMOPFCN-B .GDAMOPFCC1B, html.vibrant-mode .GDAMOPFCDQB { /* Saved search */
  background-color: var(--transparent-white) !important;
}
html.vibrant-mode .GJDCG5CJ3B, html.vibrant-mode .GJDCG5CH3B, html.vibrant-mode .GJDCG5CN5B, html.vibrant-mode .GJDCG5CGHB { /* Shortcuts modal */
  background-color: var(--vibrant-grey) !important;
  border-right: 3px solid var(--black-five) !important;
}
html.vibrant-mode .GJDCG5CP2 { /* Settings menu */
  background-color: var(--vibrant-grey) !important;
}
html.vibrant-mode .GJDCG5CC5B {
  background: var(--vibrant-grey) !important;
  background-color: var(--vibrant-grey) !important;
  border-right: 1px solid var(--black-five) !important;
}
html.vibrant-mode .GDAMOPFCJYB { /* Notes list head */
  background-color: var(--transparent-white) !important;
}
html.vibrant-mode .GJDCG5CHQB { /* Notes list left border */
  background-color: var(--transparent-white) !important;
  border-left: 1px solid var(--black-five) !important;
}
html.vibrant-mode .GDAMOPFCA5B { /* Notes list left border */
  border-left: 1px solid var(--black-five) !important;
  border-right: 1px solid var(--black-five) !important;
  background: var(--transparent-white) !important;
  background-color: var(--transparent-white) !important;
}
html.vibrant-mode .focus-NotesView-Note.focus-NotesView-Note-selected .focus-NotesView-Note-selectOverlay { /* Selected note bordered box */
  border: 3px solid var(--black-five) !important;
}
html.vibrant-mode .focus-NotesView-RemindersList { /* Reminders list borders */
  border-top: 2px solid var(--black-five) !important;
  border-bottom: 3px solid var(--black-five) !important;
  background-color: var(--transparent-white) !important;
}
html.vibrant-mode .focus-NotesView-NotebookReminders-DropAreaContainer { /* Notebook reminder background */
  background: var(--transparent-white) !important;
}
html.vibrant-mode .focus-NotesView-Subheader { /* Subheader border */
  border-bottom: 1px solid var(--black-five) !important;
}
html.vibrant-mode .GJDCG5CLLB {
  background-color: var(--transparent-white) !important;
}
html.vibrant-mode .GDAMOPFCILB { /* Note attributes background */
  background: var(--vibrant-grey) !important;
}
html.vibrant-mode .GJDCG5CP0, html.vibrant-mode .GJDCG5CCQB, html.vibrant-mode .GJDCG5CMKB { /* Toolbar separators */
  border-left: 1px solid var(--black-five) !important;
}
html.vibrant-mode .focus-NotesView-Note .focus-NotesView-Note-snippetDivider { /* Notes divider color */
  border-top: 1px solid var(--black-five) !important;
}
html.vibrant-mode .GJDCG5CP3B { /* Profile background */
  background-color: var(--vibrant-grey) !important;
  border-top: 1px solid var(--black-five) !important;
}
html.vibrant-mode .GDAMOPFCPYB, html.vibrant-mode .GJDCG5CCQB { /* Note list transition background */
  background-color: var(--transparent-white) !important;
  border-top: 1px solid var(--black-five) !important;
}
html.vibrant-mode .GDAMOPFCMYB { /* Note list header */
  background-color: var(--transparent-white) !important;
  margin-bottom:  -6px !important;
}
html.vibrant-mode div#gwt-debug-FocusView-root { /* Sidebar transition background */
  background-color: var(--transparent-white) !important;
}
html.vibrant-mode .focus-NotesView-NotesView { /* Notes list body */
  background-color: var(--transparent-white) !important;
}
html.vibrant-mode .GJDCG5CNNB, html.vibrant-mode .GDAMOPFCOPB { /* Note editor body */
  background-color: var(--transparent-white) !important;
}
html.vibrant-mode .GJDCG5CKKB { /* Note editor toolbar */
  border-bottom: 1px solid var(--black-five) !important;
  background-color: var(--transparent-white) !important;
}
html.vibrant-mode .GJDCG5CJ1 { /* Note editor toolbar options */
  background-color: var(--transparent-white) !important;
}
html.vibrant-mode .GJDCG5CONB, html.vibrant-mode .GJDCG5CGQB { /* Note editor background */
  background-color: var(--transparent-white) !important;
}
html.vibrant-mode .GJDCG5COF { /* Colors background */
  background-color: var(--vibrant-grey) !important;
}
html.vibrant-mode .GJDCG5CHK, html.vibrant-mode .GJDCG5CGK.GJDCG5CAK, html.vibrant-mode .GJDCG5COQ.GJDCG5CAR { /* Submenus background */
  background-color: var(--vibrant-grey) !important;
}
html.vibrant-mode .GDAMOPFCNHC { /* Dialogs background */
  background-color: var(--vibrant-grey) !important;
}
html.vibrant-mode .GJDCG5CFLB { /* Note editor head */
  background-color: var(--transparent-white) !important;
}
html.vibrant-mode div#imggal-glass { /* Image gallery background*/
  background-color: var(--vibrant-grey) !important;
}
html.vibrant-mode #imggal-top .close-icon { /* Image gallery exit button */
  border-radius: 0% !important; /* Makes the button square */
  background-color: var(--vibrant-grey) !important;
}
